body{
  background-color: GhostWhite;
  border: 1px solid black;
}

.header{
  color: blue;
}

.header{
  border-bottom: 1px solid black;
}

.name{
  color: black;
}

.outline{
  border-bottom: 1px solid black;
}

.skills{
  border-bottom: 1px solid black;
}

.experience{
  border-bottom: 1px solid black;
}

.education{
  border-bottom: 1px solid black;
}  

img{
  float: right;
  border: 1px solid black;
  margin: 0 0 10px 10px;
}

.footer {
  font-style: italic;
  font-size: 60%;
  color: #FF0000;
}
