body{
  background-color: GhostWhite;
}

.header{
  color: blue;
}

.name{
  color: black;
}

img{
  float: right;
  border: 1px dotted black;
  margin: 0 0 10px 10px;
}

.footer {
  font-style: italic;
  font-size: 80%;
  color: #FF0000;
}
